<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sporada VMS New Subscription</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>You have purchased the {{product}} product. Your billing cycle will be {{billingcycle}}.</p>
  <p>By this product, you are availing the following Sporada services.</p>
  <p>{{productfeatures}}</p>
  <p>If you have any queries, please feel free to contact us in support@Sporadasecure.com</p>
</body>
</html>